.section-cadastro-infos {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .box {
        width: 30%;
        min-width: 300px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .line {
            width: 100%;
            margin-top: 10px;

            .half {
                width: 49.999999%;
                padding: 0 10%;
            }

            input {
                width: 100%;
                font-size: 14px;
                padding: 10px;
            }
        }

        .btn-cadastrar {
            margin-top: 30px;
            padding: 15px 25px;
            background-color: orange;
            border-radius: 10px;
            cursor: pointer;
            transition: all .5s ease;

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

.section-cadastro-horarios {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    .div-cadastro-horarios {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        select,
        input {
            padding: 10px 20px;
        }
    }

    .btn-salvar {
        padding: 15px 25px;
        border-radius: 10px;
        background-color: orange;
        cursor: pointer;
        transition: all .5s ease;
        margin-top: 50px;

        &:hover {
            transform: scale(1.05);
        }
    }
}